.UyqurSklad_transfer {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    .ant-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #555555 !important;
      &:hover,
      &:focus {
        color: #555555;
      }
      > svg {
        margin-right: 11px;
      }
    }
  }
  .ant-table-content {
    height: calc(100vh - 200px);
    overflow-y: auto;
    .ant-table-thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    button {
      border-radius: 5px;
    }
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 5px;
  }
  .ant-pagination-item {
    border: none;
  }
  .ant-pagination-item-active {
    background: #fbaa59;
    border: none;
    border-radius: 5px;
    > a {
      color: #ffffff;
    }
  }
}
