.UyqurSklad_Menu {
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(233, 233, 233, 0.25);
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 34px;
  box-sizing: border-box;
  > span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #888888;
  }
  > button {
    margin-right: 36px;
    background: #fbaa59;
    border: 2px solid #fff0e1;
    color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      border-right: 1px solid #8b8b8b;
      border-bottom: 1px solid #8b8b8b;
      position: absolute;
      pointer-events: none;
      height: 6px;
      width: 6px;
      right: -18px;
      top: 50%;
      transform: translateY(-50%) rotateZ(45deg);
    }
  }
}
