.UyqurSklad_Navbar {
  background: #ffffff;
  box-shadow: 1px 0px 1px rgba(191, 191, 191, 0.25);
  height: 100%;
  width: 191px;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  .logo {
    width: 100%;
    height: 62px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffa953;
    &::after {
      content: '';
      position: absolute;
      width: 90%;
      height: 1px;
      background: rgba(0, 0, 0, 0.03);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .navbar {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 3px solid #f7f7f9;
    position: absolute;
    border-radius: 50%;
    top: 19px;
    right: 0;
    transform: translateX(50%);
    cursor: pointer;
  }
  &_menu {
    display: flex;
    flex-direction: column;
    width: 191px;
    overflow: hidden;
    > a {
      text-decoration: none;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #a2a2a2;
      height: 28px;
      width: 100%;
      display: flex;
      align-items: center;
      margin: 9px 0;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        height: 0%;
        transition: 0.3s;
        width: 2px;
        background: #fbaa59;
        right: 0;
        top: 50%;
        transition: 0.3s;
        transform: translateY(-50%);
      }
      > svg {
        margin-left: 17px;
        margin-right: 15px;
      }
    }
    > a.active {
      color: #ffa953;
      > svg {
        path {
          stroke: #fbaa59;
        }
      }
      &::after {
        height: 100%;
      }
    }
  }
}
.UyqurSklad_Navbar.active {
  width: 60px;
  .navbar {
    transform: translateX(50%) rotateZ(-180deg);
  }
  .UyqurSklad_Navbar_menu {
    > a {
      &::after {
        right: 68.5%;
      }
    }
  }
}
