.UyqurSklad_mahsulot {
  display: flex;
  width: 100%;
  height: 100%;
  > div:nth-of-type(1) {
    padding: 10px;
    box-sizing: border-box;
    width: calc(100% - 465px);
    height: 100%;
    background: #ffffff;
    border-radius: 5px;
    .ant-table-content {
      height: calc(100vh - 200px);
      overflow-y: auto;
      .ant-table-thead {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
    > div:nth-of-type(1) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .ant-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #555555 !important;
        &:hover,
        &:focus {
          color: #555555;
        }
        > svg {
          margin-right: 11px;
        }
      }
    }
    .ant-pagination-prev,
    .ant-pagination-next {
      button {
        border-radius: 5px;
      }
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 5px;
    }
    .ant-pagination-item {
      border: none;
    }
    .ant-pagination-item-active {
      background: #fbaa59;
      border: none;
      border-radius: 5px;
      > a {
        color: #ffffff;
      }
    }
  }
  > div:nth-of-type(2) {
    width: 465px;
    margin-left: 10px;
    height: 100%;
    > div:nth-of-type(1) {
      width: 100%;
      height: calc(100% - 93px);
      background: #ffffff;
      border-radius: 5px;
      padding: 12px;
      box-sizing: border-box;
      > p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #888888;
        margin-left: 8px;
      }
      .ant-table-content {
        height: calc(100vh - 250px);
        overflow-y: auto;
        .ant-table-thead {
          position: sticky;
          top: 0;
          z-index: 1;
        }
      }
    }
    > div:nth-of-type(2) {
      width: 100%;
      height: 83px;
      margin-top: 10px;
      background: #ffffff;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
      box-sizing: border-box;
      .ant-select-selector {
        border-radius: 5px;
      }
    }
  }
}
